:root {
    --primary: white;
    --primary-deep-red: #8C1C1C; 
    --secondary-fiery-orange: #D95A2B; 
    --accent-gold: #F2B705; 
    --background-dark-red: #591C1C; 
    --text-light: #FDE8E2; 
    --text-dark: #3D1212; 
}

.placer{
    height: 60px;
}

@media screen and (max-width: 768px) {
    .placer {
        height: 60px; 
    }
}
